bulma-stylus-root = "../../../../node_modules/bulma-stylus/stylus"

/* ---------------------------------
 *   Override Bulma CSS Framework
 * --------------------------------- */
$body-size ?= 14px
$body-background-color ?= #f7f7f7

//$family-sans-serif ?= Ubuntu, Roboto, "Open Sans", "Microsoft YaHei", sans-serif
$family-code ?= "Source Code Pro", monospace, "Microsoft YaHei"
$family-sans-serif ?= 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif
//$family-sans-serif ?= 'Itim', 'Monda', 'PingFang SC', 'Microsoft YaHei', sans-serif;

$primary ?= $blue
$custom-colors ?= {
    grey-lightest: {
        '1': $grey-lightest
        '2': $grey-darker
    }
}

$gap ?= 64px
$tablet ?= 769px
$desktop ?= 1088px
$widescreen ?= 1280px
$fullhd ?= 1472px

$shadow ?= 0 4px 10px rgba(0, 0, 0, 0.05)

$title-weight ?= $weight-normal

$control-height ?= 2.25em
$button-padding-vertical ?= calc(0.375em - 1px)

$card-radius ?= $radius
$card-media-margin ?= 0.75rem
$card-shadow ?= $shadow, 0 0 1px rgba(0,0,0,0.1)

$content-heading-weight ?= $weight-normal

$article-size ?= 1.1rem

// FIXME: https://github.com/groenroos/bulma-stylus/issues/11
@import bulma-stylus-root + "/utilities/initial-variables"
@import bulma-stylus-root + "/utilities/functions"
@import bulma-stylus-root + "/utilities/derived-variables"

$colors = merge($colors, $custom-colors)

@import bulma-stylus-root + "/utilities/animations"
@import bulma-stylus-root + "/utilities/mixins"
@import bulma-stylus-root + "/utilities/controls"
@import bulma-stylus-root + "/base/_all"
@import bulma-stylus-root + "/components/_all"
@import bulma-stylus-root + "/elements/_all"
@import bulma-stylus-root + "/form/_all"
@import bulma-stylus-root + "/grid/_all"
@import bulma-stylus-root + "/layout/_all"

/* ---------------------------------
 *          Custom Layout
 * --------------------------------- */
+widescreen()
    .is-1-column .container
    .is-2-column .container
    .is-3-column .container {
        /* 关闭评论图片 后调节 原94%*/
        max-width: 85%; /*screen-widescreen + 2 * extend-width - 2 * gap*/
        width: 85%;
    }
    max-width: $desktop - 2 * $gap
    width: $desktop - 2 * $gap
    .column.is-3-widescreen {
        flex: none;
        width: 24%;
    }
    .column.is-6-widescreen {
        width: 52%;
    }
    .column.is-4-widescreen {
        flex: none;
        width: 24%;
    }
    .column.is-8-widescreen {
        width: 76%;
    }
    .column.is-9-widescreen {
        width: 76%;
    }
    //screen-widescreen + 2 * extend-width - 2 * gap
    .navbar > .container .navbar-brand, .container > .navbar .navbar-brand {
        margin-left: 0%;
    }

    .navbar > .container .navbar-menu, .container > .navbar .navbar-menu {
        margin-right: 0.5%;
    }

    .level-end {
        margin-right: -1.5%;
    }

+fullhd()
    .is-2-column .container
        max-width: $widescreen - 2 * $gap
        width: $widescreen - 2 * $gap
    .is-1-column .container
        max-width: $desktop - 2 * $gap
        width: $desktop - 2 * $gap
    .is-1-column .container
    .is-2-column .container
    .is-3-column .container {
        max-width: 80%;
        width: 80%;
    }

+tablet()
    .column-main,
    .column-left,
    .column-right,
    .column-right-shadow
    .widget
        &.is-sticky
            align-self: flex-start
            position: -webkit-sticky
            position: sticky
            top: .75rem
    .column-right-shadow
        &.is-sticky
            top: 1.5rem
    //参考自 https://github.com/ppoffice/hexo-theme-icarus/pull/616/files
    .has-navbar-fixed-top
        .column-main,
        .column-left,
        .column-right,
        .column-right-shadow
        .widget
            &.is-sticky
                top: 5.5rem;

.section
    padding: 3rem 1.5rem;

+mobile()
    .section
        padding: 7rem 1.5rem;
    .friend-card-item
        width: 100% !important;
    .content .gt-container .gt-comment-header {
        width: 100%;
    }

.navbar-main
    box-shadow: $shadow
    .navbar-menu,
    .navbar-start,
    .navbar-end
        align-items: stretch
        display: flex
        padding: 0
        flex-shrink: 0
    .navbar-menu
        flex-grow: 1
        flex-shrink: 0
        overflow-x: auto
    .navbar-start
        justify-content: flex-start
        margin-right: auto
    .navbar-end
        justify-content: flex-end
        margin-left: auto
    .navbar-item
        display: flex
        align-items: center
        padding: 1.25rem 0.75rem
        &.is-active
            color: $primary
            background-color: transparent
    +until($navbar-breakpoint)
        .navbar-menu
            justify-content: center
            box-shadow: none
        .navbar-start
            margin-right: 0
        .navbar-end
            margin-left: 0

.title
    color: $black-ter

.card
    border-radius: $card-radius
    & + .card,
    & + .column-right-shadow
        margin-top: 1.5rem
    .card-image
        overflow: hidden
        border-top-left-radius: $card-radius
        border-top-right-radius: $card-radius
    .media + .media
        border: none
        margin-top: 0

.content
    h1
        font-size: 1.75em
    h2
        font-size: 1.5em
    h3
        font-size: 1.25em
    h4
        font-size: 1.125em
    h5
        font-size: 1em
    pre
        font-size: 0.85em
    code
        padding: 0
        background: transparent
    blockquote
        footer
            strong + cite
                margin-left: 0.5em


/* ---------------------------------
 *         Font icon fixes
 * --------------------------------- */
.fa, .fab, .fal, .far, .fas
    line-height: inherit


/* ---------------------------------
 *        Fix Gist Snippet
 * --------------------------------- */
.gist
    table
        tr:hover
            background: transparent
        td
            border: none
    .file
        all: initial


/* ---------------------------------
 *        Fix code highlight
 * --------------------------------- */
figure.highlight
    padding: 0
    width: 100%
    position: relative
    margin: 1em 0 1em !important
    &.folded
        .highlight-body
            height: 0

    pre,
    table tr:hover
        color: inherit
        background: transparent

    table
        width: auto

        tr td
            border: none
        tr:not(:first-child) td
            padding-top: 0
        tr:not(:last-child) td
            padding-bottom: 0

    pre
        padding: 0
        overflow: visible

        .line,
        code .hljs
            line-height: 1.5rem

    figcaption,
    .gutter
        background: rgba(200, 200, 200, 0.15)

    figcaption
        margin: 0 !important
        padding: .3em .0em .3em .75em
        font-style: normal
        font-size: .8em

        *
            color: $grey

        span
            font-weight: 500
            font-family: $family-code

        .level-left *:not(:last-child)
            margin-right: .5em

        .level-right *:not(:first-child)
            margin-left: .5em

        .fold
            cursor: pointer

        &.level
            overflow : auto
            .level-right
                a
                    padding: .0em 0.75em


    .highlight-body
        overflow: auto

    .gutter
        text-align: right

    .tag,
    .title,
    .number,
    .section
        display: inherit
        font: inherit
        margin: inherit
        padding: inherit
        background: inherit
        height: inherit
        text-align: inherit
        vertical-align: inherit
        min-width: inherit
        border-radius: inherit


/* ---------------------------------
 *  Custom Element/Component styles
 * --------------------------------- */
.button.is-transparent
    @extend .button.is-white
    background: transparent !important

article
    &.media
        .media-content
            color: $grey
            .title
                margin: 0
                line-height: inherit
    &.article
        .article-meta,
        .article-tags
            color: $grey
        .article-meta
            overflow-x: auto
            margin-bottom: 0.5rem
        .article-more
            @extend .button.is-light
        .content
            font-size: $article-size
            blockquote.pullquote
                float: right
                max-width: 50%
                font-size: 1.15rem
                position: relative
            a
                word-wrap: break-word

footer.footer
    background: $white
    .level-start
        +mobile()
            text-align: center
    .level-end
        .field
            flex-wrap: wrap
            align-items: center
            +mobile()
                justify-content: center
                margin-top: 1rem

.navbar-logo,
.footer-logo
    img
        max-height: 1.75rem

.thumbnail
    object-fit: cover
    width: 100% !important
    height: 100% !important

.pagination
    .pagination-link,
    .pagination-ellipsis,
    .pagination-previous,
    .pagination-next
        a
            color: $black-ter
    .pagination-link,
    .pagination-previous,
    .pagination-next
        border: none
        background: $white
        box-shadow: $shadow
    .pagination-link.is-current
        background: $primary

.post-navigation
    color: $grey
    flex-wrap: wrap
    justify-content: space-around
    .level-item
        margin-bottom: 0

.searchbox
    display: none
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 100
    background: rgba(0, 0, 0, 0.7)
    &.show
        display: block
    &,
    .searchbox-container
        position: fixed
    .searchbox-container
        overflow: hidden
    .searchbox-selectable
        cursor: pointer
    .searchbox-input-wrapper
        position: relative
        .searchbox-input
            width: 100%
            border: none
            outline: none
            font-size: 16px
            box-shadow: none
            font-weight: 200
            border-radius: 0
            background: #fff
            line-height: 20px
            box-sizing: border-box
            padding: 12px 28px 12px 20px
            border-bottom: 1px solid #e2e2e2
        .searchbox-close
            top: 50%
            right: 6px
            width: 20px
            height: 20px
            line-height: 20px
            font-size: 16px
            margin-top: -11px
            position: absolute
            text-align: center
            display: inline-block
            &:hover
                color: $primary
    .searchbox-result-wrapper
        left: 0
        right: 0
        top: 45px
        bottom: 0
        overflow-y: auto
        position: absolute
    .searchbox-container
        left: 50%
        top: 100px
        width: 540px
        z-index: 101
        bottom: 100px
        margin-left: -270px
        box-sizing: border-box
@media screen and (max-width: 559px), screen and (max-height: 479px)
    .searchbox .searchbox-container
        top: 0
        left: 0
        margin: 0
        width: 100%
        height: 100%
        background: #f7f7f7

@media screen and (min-width: 769px) and (max-width: 1087px)
    .card
        margin-top: 4rem;

.timeline
    margin-left: 1rem
    padding-left: 1.5rem
    padding-top: 1rem
    border-left: 1px solid hsl(0, 0%, 86%)
    .media
        position: relative
        &:before,
        &:last-child:after
            content: ''
            display: block
            position: absolute
            left: calc(-5px - 1.5rem)
        &:before
            width: 9px
            height: 9px
            top: 1.3rem
            background: hsl(0, 0%, 86%)
            border-radius: 50%
        &:first-child:before
            top: 0.3rem
        &:last-child:after
            top: calc(1.3rem + 9px)
            width: 9px
            bottom: 0
            background: white
        &:first-child:last-child:after
            top: calc(0.3rem + 9px)

.rtl
     direction: rtl
     .level
        &, &.is-mobile
            .level-item:not(:last-child)
                margin-left: 0.75rem
                margin-right: 0

.donate
    position: relative
    .qrcode
        display: none
        position: absolute
        z-index: 99
        bottom: 2.5em
        line-height: 0
        overflow: hidden
        border-radius: 4px
        box-shadow: 0 4px 10px rgba(0,0,0,.1), 0 0 1px rgba(0,0,0,.2)
        img
            max-width: 140px
    &:hover
        .qrcode
            display: block
    &:first-child:not(:last-child)
        .qrcode
            left: -0.75rem
    &:last-child:not(:first-child)
        .qrcode
            right: -0.75rem

.gallery-item
    .caption
        color: $grey

+mobile()
    #toc
        display: none
        position: fixed
        margin: 1rem
        left: 0
        right: 0
        bottom: 0
        z-index: 100
        max-height: calc(100vh - 2rem)
        overflow-y: auto
    #toc-mask
        display: none
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 99
        background: rgba(0, 0, 0, 0.7)
    #toc,
    #toc-mask
        &.is-active
            display: block

#back-to-top
    position: fixed
    padding: 8px 0
    transition: 0.4s ease opacity, 0.4s ease width, 0.4s ease transform, 0.4s ease border-radius
    opacity: 0
    line-height: 24px
    outline: none
    transform: translateY(120px)
    &.fade-in
        opacity: 1
    &.rise-up
        transform: translateY(0)

.pace
    user-select: none
    pointer-events: none
    .pace-progress
        top: 0
        right: 100%
        width: 100%
        height: 2px
        z-index: 2000
        position: fixed
        background: $primary

.pace-inactive
    display: none

// Overflow table
.table-overflow
    overflow-x: auto
    table
        width: auto!important
        th
            word-break: keep-all

// Video container
.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 25px
    height: 0
    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%

/* ---------------------------------
*        ToC Extension
* --------------------------------- */
.menu-list {
    .is-current {
        color: #3273dc;
        background: #f5f5f5;
    }
    a:hover {
        color: #3273dc;
    }
}

/* ---------------------------------
 *        ToC Link Position Fix
 * --------------------------------- */
:target::before {
    content: "";
    display: block;
    height: 5.25rem;
    margin: -5.25rem 0 0;
}

// 自定义图片样式
.img-x {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
    a {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 10px 10px;
        vertical-align: top;
        height: 100%;
        width: 40%;
    }
}

.img-y {
    position: relative;
    overflow-y: hidden;
    height: 100%;
    white-space: nowrap;
    a {
        box-sizing: border-box;
        text-align: center;
        position: relative;
        display: inline-block;
        padding: 10px 10px;
        vertical-align: top;
        height: 100%;
        width: 30%;
    }
}

// 最新评论CSS
.body_hot_comment .comment-content {
    font-size: 0.75em;
    letter-spacing: 0.1em;
    .card-comment-item {
        display: inline-block;
        margin-top: 10px;
        width: 100%;
        .ava {
            height: 3rem !important;
            margin-right: 0.2em !important;
            border-radius: 40px;
        }
        img {
            float: left;
            transition: all 0.5s ease-in;
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            -o-transition: all 0.5s ease-in;
        }

        img:hover {
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
        }
    }
    :first-child{
        margin-top: unset;
    }
    .item-header-text {
        padding-left: 0.75em;
        font-size: 0.75rem;
        line-height: 1.5;
        -webkit-line-clamp: 1;
        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;

    }
    .item-text {
        padding-left: 0.75em;
        font-size: 0.75rem;
        line-height: 1.5;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
        overflow: hidden;
        height: auto;
        -webkit-box-orient: vertical;
        word-break: break-all;
        display: -webkit-box;
        white-space: normal;
    }
}


.level0 {
    background-color: #d9e6fd;
    color:#4a4a4a;
}
.level1 {
    background-color: #8fb8fb;
    color:#4a4a4a;
}
.level2 {
    background-color: #5593f7;
    color:white;
}
.level3 {
    background-color: #3273dc;
    color:white;
}

#index_hot_div {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    .item {
        align-items: center;
        border-radius: 4px;
        display: inline-flex;
        font-size: 0.75rem;
        height: 2.1rem;
        justify-content: center;
        line-height: 1.5;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        white-space: nowrap;
        margin-bottom: 0.75rem;
        box-shadow: 0px 0px 2px 1px #b5b5b5;
    }

}

.display-none-class {
    display: none;
}

.not-gallery-item{
    margin-top: 2px;
}


 // 归档
.post-calendar-pre {
    overflow-x: auto;
    justify-content: center;
    max-width: 100%;
}
#post-calendar {
    display: flex;
    justify-context: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 200px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin-bottom: 2rem;
}


.post-copyright {
    font-size: 1rem;
    letter-spacing: 0.02rem;
    word-break: break-all;
    margin: 1.5rem 0 1.5rem 0;
    padding: 1rem 1rem;
    border-left: 3px solid #FF1700;
    background-color: #F9F9F9;
}

.recommend-post{
    margin: 0 0 1.5rem 0;
}


.content
    blockquote
        background-color: whitesmoke;
        border-left: 3px solid #6190e8;
        padding: 1.0em 1.0em;
        overflow auto

content-h-color = #3273dca8
.content h1 {
    font-size: 2em;
    color: content-h-color
}

.content h5 {
    color: content-h-color
}

.content h2 {
    font-size: 1.8em;
    color: content-h-color
}

.content h3 {
    font-size: 1.3em;
    color: content-h-color
}

.content h4 {
    font-size: 1.2em;
    color: content-h-color
}

.content h5 {
    color: content-h-color
}

.hljs-comment, .hljs-quote {
    color: #23d160ad !important;
}

.button.is-small {
    border-radius: 20px;
}


a.navbar-item:focus,
.navbar-link:focus,
a.navbar-item:focus-within,
.navbar-link:focus-within,
a.navbar-item:hover,
.navbar-link:hover,
a.navbar-item.is-active,
.navbar-link.is-active {
    background-color: unset;
}

.article hr {
    background-color: #6190e8;
    margin-top: -0.8rem;
    margin-bottom: 1rem;
    box-shadow: 1px 2px 8px #000;
}


.friend-title-item {
    font-weight: bold;
    text-align: center;
}


.friend-card-item {
    width: 32%;
    border-radius: 2px;
    color: #4a4a4a;
    padding: 0.5rem;
    display: inline-block;
    margin: 5px;
    margin-top: 15px;
    .text-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .ava {
        width: 5rem !important;
        height: 5rem !important;
        margin: 0 !important;
        margin-right: 0.2em !important;
        border-radius: 40px;
    }
    img {
        float: left;
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }
    img:hover {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
    }
    &:hover {
        transform: scale(0.995);
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
    }
}


.time-axis-main {
    width: 90%;
    margin: 30px auto;
    .time-axis {
        margin: 0;
        padding: 0;
        position: relative;
    }

    .time-axis:before {
        content: '';
        position: absolute;
        left: 93px;
        top: 15px;
        width: 1px;
        height: 100%;
        background-color: #E4E4E4;
    }

    .time-axis-item {
        list-style: none;
        padding-left: 150px;
        position: relative;
        line-height: 45px;
        font-size: 14px;
        color: #141414;
    }

    .time-axis-date {
        position: absolute;
        left: -1.9%;
        top: 0;
        color: #3273dc;
        font-style: italic;
        font-weight: bold;
    }

    .time-axis-title {
        background-color: whitesmoke;
        border-left: 3px solid #6190e8;
        padding: 0.8em 1.0em;
        font-weight: bold;
        line-height: 25px;
    }

    .time-axis-achievement {
        background-color: whitesmoke;
        border-left: 3px solid #e89b44;
        padding: 0em 1.0em;
        font-style: italic;
        margin-bottom: 30px;
    }

    .time-axis-date span {
        position: absolute;
        right: -25px;
        top: 35%;
        display: block;
        width: 13px;
        height: 13px;
        border: 1px solid #ccc;
        border-radius: 100%;
        background-color: #fff;
    }

    .time-axis-date span:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 7px;
        height: 7px;
        margin: auto;
        background-color: #ccc;
        border: 1px solid #ccc;
        border-radius: 100%;
    }

    .time-axis-item:first-child .time-axis-date span {
        border-color: #48BEB2;
    }

    .time-axis-item:first-child .time-axis-date span:after {
        background-color: #48BEB2;
        border-color: #48BEB2;
    }
}


.music-container {
    .video-player .fa-video-camera:before {
        content: "\f03d";
    }

    .video-player .fa-music:before {
        content: "\f001";
    }
    #musicarea {
        margin: 20px auto;
        width: 500px;
    }
    .music-player {
        .d-title {
            margin-bottom: 20px;
            font-size: 2rem;
            font-weight: 700;
            text-align: center;
        }
    }
}


.video-player {

    .d-title {
        margin-bottom: 20px;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
    }

    .fa {
        display: inline-block;
        font: normal normal normal 14px / 1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .hits {
        text-align: center;
        font-size: 13px;
        color: #cd0411
    }

    #video-list {
        overflow-y: auto;
        height: 300px;
        blockquote {
            font-size: 13px;
            text-align: center;
            border-right: 3px solid #6190e8;
        }
    }
}


.text-center {
    text-align: center;
}

.markdown-body {
    font-family: $family-sans-serif !important;
    img {
        max-width: 30% !important;
    }
}

#hitokoto {
    text-align: center;
    cursor: pointer;
    padding: 1rem;
}

.text-tips {
    text-align center;
    font-size: 0.875em;
}
.social-share {
    text-align: center;
}

// 头像翻转
.level img {
    border-radius: 100px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
}

.level figure img:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.content .gt-container .gt-comment-edit {
    margin-right: 2%;
}


.content {
    a {
        img {
            margin: auto;
            display: block;
        }
    }
}

.content .gt-container .gt-comment-admin .gt-comment-content {
    border: 0.01em solid #deeafb;
}

// ============self-talking  start
.content .gt-container .gt-comment-header {
    font-size: 0.875em;
    position: relative;
    display: inline-block;
    left: -6%;
    margin-bottom: 10px;
    padding: 0 10% 0 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 0 3px 3px 0;
    background-color: #deeafb;
}

.content .gt-container .gt-comment-content:hover {
    -webkit-box-shadow: unset;
    box-shadow: unset
}

.content .gt-container .gt-comment-body {
    padding-left: 2%;
}
.self-talking .gt-comment-reply .gt-ico-reply {
    display: none;
}

.content .gt-container .gt-avatar {
    display: none !important;
}


.article .content .markdown-body a img {
    margin-right: 1%;
    margin-top: 1%;
    display: unset;
}

.gt-container .gt-comment-content:hover {
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
}

.toc-scroll {
    max-height: 500px;
    overflow: auto;
}


.navbar-highlight {
    background-color #fff !important;
}

.gt-container .gt-comment-owner {
    padding: 0.2em 0.2em !important;
    font-size: 0.875em !important;
    margin: 0 0.5em 0 0.5em !important;
}


hr {
    margin: .0rem 0;
}

.level:not(:last-child) {
    margin-bottom: .5rem;
}

// ============self-talking  end

// night Mode
// author by removef
// https://removeif.github.io/
night-color = #151313
night-color-hover = #7a7a7a
night-link = #3273dc

.night {

    color: silver!important;

    .navbar-highlight{
        background-color night-color !important;
    }
    background-color black;
    .content blockquote {
        background-color: night-color
    }
    .button.is-light {
        background-color: night-color;
    }
    .tag:not(body) {
        background-color: night-color;
    }

    strong {
        color: white;
    }

    .time-axis-achievement {
        background-color: night-color;
        color: white
    }

    .time-axis-title {
        background-color: night-color;
        color: white
    }

    .pagination .pagination-link:not(.is-current), .pagination .pagination-previous, .pagination .pagination-next {
        background-color: night-color;
    }

    .button.is-white {
        color: white;
    }

    .button.is-light {
        color silver
    }

    a:hover {
        //background-color night-color-hover
        color white
    }

    hr {
        background-color: night-color;
    }

    .menu-list a:hover {
        background-color: night-color-hover;
        color night-link
    }
    .menu-list a {
        color silver
    }

    .level a:hover {
        //background-color: night-color-hover;
        color night-link !important
    }

    .level .is-rounded:hover {
        color white !important
    }

    .level .level-item.is-marginless:hover {
        background-color: night-color;
        color night-link
    }

    .level .level-item.is-link:hover {
        color white
    }

    //.level .level-item .is-size-7:hover {
    //  background-color: black;
    //  color white
    //}

    .navbar-menu a:hover {
        color: night-link
    }

    .post-copyright {
        background-color: night-color;
    }

    #back-to-top:hover {
        color night-link
    }

    .tags.has-addons .tag:hover {
        color night-link
    }

    input {
        background-color black
        color white
    }

    .card {
        color silver
    }

    .has-text-grey {
        color silver !important
    }
    .has-link-black-ter {
        color night-link !important
    }
    .has-link-grey.-link {
        color silver
    }
    .has-link-grey, .has-link-black-ter {
        color silver !important;
    }

    .menu-label {
        color silver !important;
    }

    .tag:not(body) {
        color silver
    }

    #body_hot_comment .comment-content .item {
        color silver
    }

    .has-text-black-ter {
        color silver !important;
    }

    .has-text-black-ter:hover {
        color night-link !important
    }

    .navbar-item, .navbar-link {
        color silver
    }

    .title {
        color silver
    }

    .level-item.tag.is-danger {
        background-color night-link !important
        color silver
    }

    .friend-title-item {
        color silver
    }

    .music-container #musiclist {
        background night-color
    }

    .meplayer-container {
        background-color night-color
    }

    // --removeif
    .navbar {
        background-color night-color
    }
    .card {
        background-color night-color
    }
    .footer {
        background-color night-color
    }
    .button.is-white {
        background-color night-color
    }
    .cardm {
        background-color night-color
    }
    .waifu-tips {
        background-color night-color
        color silver
    }
    // --

    .has-link-grey.-link:hover {
        color night-link !important
    }
    .has-link-black-ter:hover {
        color night-link !important
    }

    .timeline .media:last-child:after {
        background-color night-color
    }

    .level-item.tag.is-danger,
    .button:not(.is-white), #index_hot_div,
    #post-calendar canvas,
    .waifu canvas,
    .is-current,
    .button.is-marginless .fab, .fas,
    .button.is-large,
    .gt-btn,
    .gt-comment-body pre,
    .time-axis-main,
    .meplayer-control-play,
    .social-share,
    .g-emoji,
    .fa-envelope
    input,
    img {
        filter: brightness(.6) !important
    }

    figure {
        filter: brightness(.7) !important
    }

    strong {
        filter: brightness(.8) !important;
    }

    .content blockquote {
        border-left: 3px solid #1e4584;
    }

    .timeline {
        border-left: 1px solid #dbdbdb70;
        .media:before {
            background: #dbdbdb70;
        }
    }

    .post-copyright {
        border-left: 3px solid #ff170070;
    }

    .button.is-light {
        filter: brightness(1) !important;
    }

    .breadcrumb li.is-active a {
        color silver
    }

    .menu-list li ul {
        border-left: 1px solid #dbdbdb70;
    }

    // comment start

    .markdown-body blockquote {
        border-left: 0.25em solid #dfe2e590;
    }

    .gt-container .gt-comment-content {
        background-color black !important
        color silver !important
    }

    .gt-container .gt-comment-body {
        color silver !important
    }

    .gt-container .gt-comment-content:hover {
        -webkit-box-shadow: 0 0.625em 3.75em 0 #f4f4f4;
        box-shadow: 0 0.625em 3.75em 0 black;
    }

    textarea {
        background-color night-color;
        color white;
    }

    .gt-container .gt-header-textarea:hover {
        background-color: black;
    }

    .gt-container .gt-header-textarea {
        background-color: black;
    }
    .ins-section-container {
        background-color: night-color;
        color: silver;
    }
    .searchbox .searchbox-input-wrapper .searchbox-input {
        background-color: night-color;
    }
    .cardm {
        color: unset;
    }
    .g-ads-x {
        filter: brightness(0.6) !important;
    }
    .g-ads-y {
        filter: brightness(0.6) !important;
    }
    .google-auto-placed {
        filter: brightness(0.6) !important;
    }

    .pagination-previous, .pagination-next, .pagination-link {
        color: silver;
    }
    .pagination .pagination-link a, .pagination .pagination-ellipsis a, .pagination .pagination-previous a, .pagination .pagination-next a {
        color: silver;
    }

    .content .gt-container .gt-comment-header {
        background-color: #151313;
    }
    .content .gt-container .gt-comment-admin .gt-comment-content {
        border: 2px solid #151313;
    }

    #post-calendar {
        background-color:#626161;
        //border-radius: 20rem;
    }
    .button.is-white, .button.is-transparent {
        color: silver;
    }

    hr {
        background-color: #989898;
    }

    .navbar-menu {
        background-color: unset;
    }
    #index_hot_div{
        color: silver;
    }
    #index_hot_div{
        filter: unset !important;
        .item{
            filter: brightness(0.6) !important;
        }
    }
    .gt-container .gt-meta {
        border-bottom: 2px solid #989898;
    }

    figure.highlight figcaption * {
        color: unset;
    }

    figure.highlight figcaption.level .level-right a {
        color: silver;
    }

    .menu-list .is-current {
        color: #3273dc;
        background: #7a7a7a;
        filter: unset !important;
    }

    .friend-card-item {
        color: unset;
    }

}
body{
    background: url(/img/background.jpg);
}

////=================本博客使用样式   start
//
//// 首页去图
//.body_hot_comment .comment-content .card-comment-item .ava, .media-left, .is-6-widescreen .card-image {
//    display: none;
//}
//
//hover-color = #deeafb;
//// 去card
//.card {
//    background-color: unset;
//    //box-shadow: unset;
//}
//
//.navbar, footer.footer {
//    background-color: unset;
//}
//
//body:not(.night) .navbar:hover,
//body:not(.night) .footer:hover,
//body:not(.night) .card:hover,
//body:not(.night) .pagination:hover,
//body:not(.night) .post-navigation:hover{
//    background-color: hover-color;
//    box-shadow: 0 4px 10px rgba(0,0,0,0.05),0 0 1px rgba(0,0,0,0.1);
//}
//
//.pagination, .post-navigation{
//    padding: 10px;
//}
//
//.pagination .pagination-link:not(.is-current), .pagination .pagination-previous, .pagination .pagination-next {
//    background-color:rgba(255,255,255,0);
//}
//
//.timeline .media:last-child:after {
//    background: unset;
//}
//
//.footer {
//    box-shadow: 0px 4px 10px 10px rgba(0,0,0,0.05);
//    padding: 3rem 1.5rem 2rem;
//}
//
//
//@media screen and (max-width: 1087px)
//    .navbar-menu {
//        background-color: unset;
//    }
//
////=================本博客使用样式   end